* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    display: block;
    margin-top: 100px;
    background-image: url('https://img.freepik.com/free-vector/sky-background-video-conferencing_23-2148623068.jpg');
    position: sticky;
    top: 0px;
    background-size: cover;
    background-repeat: no-repeat;


}
#city-input {
    padding: 10px;
    width: 200px;
    border: 2px solid black;
    border-radius: 6px;
    font-size: 16px;
    background-color: lightgray;
    border: 1px solid black;

}
#search-button {
    padding: 10px 15px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 10px;
}

#q{
    margin-top: 20px;
}
#city-name {
    font-size: 24px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#city-localtime {
    font-size: 18px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#city-temp {
    font-size: 32px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}
#w{
    padding: 20px;
    border-radius: 8px;
    display: inline-block;
    
}

.type--A {
  --line_color: #555555;
  --back_color: #ffecf6;
}
.type--B {
  --line_color: #1b1919;
  --back_color: #e9ecff;
}
.type--C {
  --line_color: #00135c;
  --back_color: #defffa;
}
.button {
  position: relative;
  z-index: 0;
  width: 240px;
  height: 56px;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  color: var(--line_color);
  letter-spacing: 2px;
  transition: all 0.3s ease;
}
.button__text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.button::before,
.button::after,
.button__text::before,
.button__text::after {
  content: "";
  position: absolute;
  height: 3px;
  border-radius: 2px;
  background: var(--line_color);
  transition: all 0.5s ease;
}
.button::before {
  top: 0;
  left: 54px;
  width: calc(100% - 56px * 2 - 16px);
}
.button::after {
  top: 0;
  right: 54px;
  width: 8px;
}
.button__text::before {
  bottom: 0;
  right: 54px;
  width: calc(100% - 56px * 2 - 16px);
}
.button__text::after {
  bottom: 0;
  left: 54px;
  width: 8px;
}
.button__line {
  position: absolute;
  top: 0;
  width: 56px;
  height: 100%;
  overflow: hidden;
}
.button__line::before {
  content: "";
  position: absolute;
  top: 0;
  width: 150%;
  height: 100%;
  box-sizing: border-box;
  border-radius: 300px;
  border: solid 3px var(--line_color);
}
.button__line:nth-child(1),
.button__line:nth-child(1)::before {
  left: 0;
}
.button__line:nth-child(2),
.button__line:nth-child(2)::before {
  right: 0;
}
.button:hover {
  letter-spacing: 6px;
}
.button:hover::before,
.button:hover .button__text::before {
  width: 8px;
}
.button:hover::after,
.button:hover .button__text::after {
  width: calc(100% - 56px * 2 - 16px);
}
.button__drow1,
.button__drow2 {
  position: absolute;
  z-index: -1;
  border-radius: 16px;
  transform-origin: 16px 16px;
}
.button__drow1 {
  top: -16px;
  left: 40px;
  width: 32px;
  height: 0;
  transform: rotate(30deg);
}
.button__drow2 {
  top: 44px;
  left: 77px;
  width: 32px;
  height: 0;
  transform: rotate(-127deg);
}
.button__drow1::before,
.button__drow1::after,
.button__drow2::before,
.button__drow2::after {
  content: "";
  position: absolute;
}
.button__drow1::before {
  bottom: 0;
  left: 0;
  width: 0;
  height: 32px;
  border-radius: 16px;
  transform-origin: 16px 16px;
  transform: rotate(-60deg);
}
.button__drow1::after {
  top: -10px;
  left: 45px;
  width: 0;
  height: 32px;
  border-radius: 16px;
  transform-origin: 16px 16px;
  transform: rotate(69deg);
}
.button__drow2::before {
  bottom: 0;
  left: 0;
  width: 0;
  height: 32px;
  border-radius: 16px;
  transform-origin: 16px 16px;
  transform: rotate(-146deg);
}
.button__drow2::after {
  bottom: 26px;
  left: -40px;
  width: 0;
  height: 32px;
  border-radius: 16px;
  transform-origin: 16px 16px;
  transform: rotate(-262deg);
}
.button__drow1,
.button__drow1::before,
.button__drow1::after,
.button__drow2,
.button__drow2::before,
.button__drow2::after {
  background: var(--back_color);
}
.button:hover .button__drow1 {
  animation: drow1 ease-in 0.06s;
  animation-fill-mode: forwards;
}
.button:hover .button__drow1::before {
  animation: drow2 linear 0.08s 0.06s;
  animation-fill-mode: forwards;
}
.button:hover .button__drow1::after {
  animation: drow3 linear 0.03s 0.14s;
  animation-fill-mode: forwards;
}
.button:hover .button__drow2 {
  animation: drow4 linear 0.06s 0.2s;
  animation-fill-mode: forwards;
}
.button:hover .button__drow2::before {
  animation: drow3 linear 0.03s 0.26s;
  animation-fill-mode: forwards;
}
.button:hover .button__drow2::after {
  animation: drow5 linear 0.06s 0.32s;
  animation-fill-mode: forwards;
}
@keyframes drow1 {
  0% {
    height: 0;
  }
  100% {
    height: 100px;
  }
}
@keyframes drow2 {
  0% {
    width: 0;
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  11% {
    opacity: 1;
  }
  100% {
    width: 120px;
  }
}
@keyframes drow3 {
  0% {
    width: 0;
  }
  100% {
    width: 80px;
  }
}
@keyframes drow4 {
  0% {
    height: 0;
  }
  100% {
    height: 120px;
  }
}
@keyframes drow5 {
  0% {
    width: 0;
  }
  100% {
    width: 124px;
  }
}

.container {
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.button:not(:last-child) {
  margin-bottom: 64px;
}

#card {
 width: 190px;
 height: 254px;
 background-image: linear-gradient(163deg, #00ff75 0%, #3700ff 100%);
 border-radius: 20px;
 transition: all .3s;
 display: inline-block;
 
}

#card2 {
 width: 190px;
 height: 254px;
 background-color: lightblue;
 border-bottom-left-radius: 100%;
 border-bottom-right-radius: 100%;
 border-top-left-radius: 30%;
 border-top-right-radius: 30%;
 transition: all .2s;
 box-shadow: whitesmoke 0px 0px 100px 1px;
 }

#card2:hover {
 transform: scale(0.98);
 border-radius: 30px;
}

#card:hover {
 box-shadow: 0px 0px 30px 1px rgba(0, 255, 117, 0.30);
}

#t {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

#p {
  box-shadow: whitesmoke 0px 0px 40px 1px;
  padding: 10px;
  border-bottom-right-radius: 35px;
  border-top-left-radius: 35px;
  
}
.wrapper-grid {
  margin: 10px;
  margin-right: 10px;
  --animation-duration: 2.1s;
  --cube-color: #0000;
  --highlight-color: whitesmoke;
  --cube-width: 48px;
  --cube-height: 48px;
  --font-size: 1.8em;

  position: relative;
  inset: 0;

  display: grid;
  grid-template-columns: repeat(7, var(--cube-width));
  grid-template-rows: auto;
  grid-gap: 0;

  width: calc(7 * var(--cube-width));
  height: var(--cube-height);
  perspective: 350px;

  font-family: "Poppins", sans-serif;
  font-size: var(--font-size);
  font-weight: 800;
  color: transparent;
}

.cube {
  position: relative;
  transform-style: preserve-3d;
}

.face {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--cube-width);
  height: var(--cube-height);
  background-color: var(--cube-color);
}
.face-left,
.face-right,
.face-back,
.face-front {
  box-shadow:
    inset 0 0 2px 1px #0001,
    inset 0 0 12px 1px #fff1;
}
.face-front {
  transform: rotateY(0deg) translateZ(calc(var(--cube-width) / 2));
}
.face-back {
  transform: rotateY(180deg) translateZ(calc(var(--cube-width) / 2));
  opacity: 0.6;
}
.face-left {
  transform: rotateY(-90deg) translateZ(calc(var(--cube-width) / 2));
  opacity: 0.6;
}
.face-right {
  transform: rotateY(90deg) translateZ(calc(var(--cube-width) / 2));
  opacity: 0.6;
}
.face-top {
  height: var(--cube-width);
  transform: rotateX(90deg) translateZ(calc(var(--cube-width) / 2));
  opacity: 0.8;
}
.face-bottom {
  height: var(--cube-width);
  transform: rotateX(-90deg)
    translateZ(calc(var(--cube-height) - var(--cube-width) * 0.5));
  opacity: 0.8;
}

.cube:nth-child(1) {
  z-index: 0;
  animation-delay: 0s;
}
.cube:nth-child(2) {
  z-index: 1;
  animation-delay: 0.2s;
}
.cube:nth-child(3) {
  z-index: 2;
  animation-delay: 0.4s;
}
.cube:nth-child(4) {
  z-index: 3;
  animation-delay: 0.6s;
}
.cube:nth-child(5) {
  z-index: 2;
  animation-delay: 0.8s;
}
.cube:nth-child(6) {
  z-index: 1;
  animation-delay: 1s;
}
.cube:nth-child(7) {
  z-index: 0;
  animation-delay: 1.2s;
}

.cube {
  animation: translate-z var(--animation-duration) ease-in-out infinite;
}
.cube .face {
  animation:
    face-color var(--animation-duration) ease-in-out infinite,
    /* face-glow var(--animation-duration) ease-in-out infinite, */ edge-glow
      var(--animation-duration) ease-in-out infinite;
  animation-delay: inherit;
}
.cube .face.face-front {
  animation:
    face-color var(--animation-duration) ease-in-out infinite,
    face-glow var(--animation-duration) ease-in-out infinite,
    edge-glow var(--animation-duration) ease-in-out infinite;
  animation-delay: inherit;
}

@keyframes translate-z {
  0%,
  40%,
  100% {
    transform: translateZ(-2px);
  }
  30% {
    transform: translateZ(16px) translateY(-1px);
  }
}
@keyframes face-color {
  0%,
  50%,
  100% {
    background-color: var(--cube-color);
  }
  10% {
    background-color: var(--highlight-color);
  }
}
@keyframes face-glow {
  0%,
  50%,
  100% {
    color: #fff0;
    filter: none;
  }
  30% {
    color: black;
    filter: drop-shadow(0 14px 10px var(--highlight-color));
  }
}
@keyframes edge-glow {
  0%,
  40%,
  100% {
    box-shadow:
      inset 0 0 2px 1px #0001,
      inset 0 0 12px 1px #fff1;
  }
  30% {
    box-shadow: 0 0 2px 0px var(--highlight-color);
  }
}
.loader {
  --fill-color: #5c3d99;
  --shine-color: #5c3d9933;
  transform: scale(0.5); /* You can change the size */
  width: 100px;
  height: auto;
  position: relative;
  filter: drop-shadow(0 0 10px var(--shine-color));
}

.loader #pegtopone {
  position: absolute;
  animation: flowe-one 1s linear infinite;
}

.loader #pegtoptwo {
  position: absolute;
  opacity: 0;
  transform: scale(0) translateY(-200px) translateX(-100px);
  animation: flowe-two 1s linear infinite;
  animation-delay: 0.3s;
}

.loader #pegtopthree {
  position: absolute;
  opacity: 0;
  transform: scale(0) translateY(-200px) translateX(100px);
  animation: flowe-three 1s linear infinite;
  animation-delay: 0.6s;
}

.loader svg g path:first-child {
  fill: var(--fill-color);
}

@keyframes flowe-one {
  0% {
    transform: scale(0.5) translateY(-200px);
    opacity: 0;
  }
  25% {
    transform: scale(0.75) translateY(-100px);
    opacity: 1;
  }
  50% {
    transform: scale(1) translateY(0px);
    opacity: 1;
  }
  75% {
    transform: scale(0.5) translateY(50px);
    opacity: 1;
  }
  100% {
    transform: scale(0) translateY(100px);
    opacity: 0;
  }
}

@keyframes flowe-two {
  0% {
    transform: scale(0.5) rotateZ(-10deg) translateY(-200px) translateX(-100px);
    opacity: 0;
  }
  25% {
    transform: scale(1) rotateZ(-5deg) translateY(-100px) translateX(-50px);
    opacity: 1;
  }
  50% {
    transform: scale(1) rotateZ(0deg) translateY(0px) translateX(-25px);
    opacity: 1;
  }
  75% {
    transform: scale(0.5) rotateZ(5deg) translateY(50px) translateX(0px);
    opacity: 1;
  }
  100% {
    transform: scale(0) rotateZ(10deg) translateY(100px) translateX(25px);
    opacity: 0;
  }
}

@keyframes flowe-three {
  0% {
    transform: scale(0.5) rotateZ(10deg) translateY(-200px) translateX(100px);
    opacity: 0;
  }
  25% {
    transform: scale(1) rotateZ(5deg) translateY(-100px) translateX(50px);
    opacity: 1;
  }
  50% {
    transform: scale(1) rotateZ(0deg) translateY(0px) translateX(25px);
    opacity: 1;
  }
  75% {
    transform: scale(0.5) rotateZ(-5deg) translateY(50px) translateX(0px);
    opacity: 1;
  }
  100% {
    transform: scale(0) rotateZ(-10deg) translateY(100px) translateX(-25px);
    opacity: 0;
  }
}

